@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes shark-swim {
  0% {
    -webkit-transform: translateX(0vw) rotateY(0deg);
    transform: translateX(0vw) rotateY(0deg); }
  45% {
    -webkit-transform: translateX(50vw) rotateY(0deg) perspective(600px);
    transform: translateX(50vw) rotateY(0deg) perspective(600px); }
  50% {
    -webkit-transform: translateX(50vw) rotateY(-180deg);
    transform: translateX(50vw) rotateY(-180deg); }
  95% {
    -webkit-transform: translateX(0vw) rotateY(-180deg) perspective(600px);
    transform: translateX(0vw) rotateY(-180deg) perspective(600px); }
  100% {
    -webkit-transform: translateX(0vw) rotateY(0deg);
    transform: translateX(0vw) rotateY(0deg); } }
* {
  padding: 0;
  margin: 0; }

body {
  background-image: linear-gradient(#77b8ef, #004582);
  background-repeat: no-repeat;
  height: 500vw; }
@-webkit-keyframes swim-LR {
  0% {
    -webkit-transform: translateX(5vw) rotateY(0deg);
    transform: translateX(5vw) rotateY(0deg); }
  49% {
    -webkit-transform: translateX(70vw) rotateY(0deg);
    transform: translateX(70vw) rotateY(0deg); }
  50% {
    -webkit-transform: translateX(70vw) rotateY(180deg);
    transform: translateX(70vw) rotateY(180deg); }
  99% {
    -webkit-transform: translateX(5vw) rotateY(180deg);
    transform: translateX(5vw) rotateY(180deg); }
  100% {
    -webkit-transform: translateX(5vw) rotateY(0deg);
    transform: translateX(5vw) rotateY(0deg); } }
@keyframes swim-LR {
  0% {
    -webkit-transform: translateX(5vw) rotateY(0deg);
    transform: translateX(5vw) rotateY(0deg); }
  49% {
    -webkit-transform: translateX(70vw) rotateY(0deg);
    transform: translateX(70vw) rotateY(0deg); }
  50% {
    -webkit-transform: translateX(70vw) rotateY(180deg);
    transform: translateX(70vw) rotateY(180deg); }
  99% {
    -webkit-transform: translateX(5vw) rotateY(180deg);
    transform: translateX(5vw) rotateY(180deg); }
  100% {
    -webkit-transform: translateX(5vw) rotateY(0deg);
    transform: translateX(5vw) rotateY(0deg); } }
@-webkit-keyframes bobbing {
  from {
    transform: translateY(20px); }
  to {
    transform: translateY(-20px); } }
@keyframes bobbing {
  from {
    transform: translateY(20px); }
  to {
    transform: translateY(-20px); } }
h1, h2 {
  margin-bottom: .5rem; }

p {
  line-height: 140%;
  margin-bottom: 1rem; }

p:last-child {
  margin-bottom: 0; }

.big-eye-tuna {
  position: relative;
  transform: rotateY(180deg);
  top: 15%;
  width: 5em;
  height: auto;
  animation: swim-LR 50s infinite linear; }

#pearly-razorfish {
  position: relative;
  top: 50%;
  width: 10em;
  height: auto;
  animation: swim-LR 40s infinite linear; }

#puffer {
  position: relative;
  top: 75%;
  width: 4em;
  height: auto;
  animation: swim-LR 17s infinite linear; }

#great-white {
  position: relative;
  top: 80%;
  width: 25em;
  height: auto;
  animation: swim-LR 20s infinite linear; }

#shelly {
  position: relative;
  top: 20vw;
  left: 45vw;
  animation: bobbing 1s alternate infinite linear;
  width: 10em;
  height: auto; }

#jellyfish {
  position: relative;
  top: 40vw;
  left: 50vw;
  animation: bobbing 1s alternate infinite linear;
  width: 10em;
  height: auto; }

#octopus {
  position: relative;
  top: 60vw;
  left: 25vw;
  animation: bobbing 1s alternate infinite linear;
  width: 10em;
  height: auto; }

.sea-creature {
  cursor: pointer; }

.fish-info {
  display: none; }

.info-card-container {
  display: block;
  min-height: 100px;
  max-height: auto;
  width: 350px;
  padding: 0;
  margin: 1rem;
  z-index: 1000; }

.info-card {
  display: none;
  background: #fff;
  box-shadow: 4px 4px 8px rgba(1, 30, 76, 0.5);
  min-height: 100px;
  max-height: 500px;
  width: 350px;
  padding: 1rem;
  margin: 1rem;
  font-family: Helvetica, sans-serif;
  border-radius: 6px 6px 6px 6px;
  cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
