@import 'variables';
@import 'mixins';
@import 'bubbles';


* {
  @include cushion(0,0);
}

body {
  // width: 100%;
  background-image: linear-gradient($top-water, $bottom-water);
  background-repeat: no-repeat;
  height: $sea-depth;
  @include swim(5vw, 70vw);
  @include swimming(5vw, 70vw);
  @include bob;
  // @include title-wave;
}

.container {
  background-image: url(../img/bg-ocean-floor.png);
  background-attachment: absolute;
  background-position: bottom;
  background-repeat: repeat-x;
  height: $sea-depth;
}

h1, h2 {
  margin-bottom: .5rem;
}

p {
  font-family: $basefont;
  line-height: 140%;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

img {
  @include size(100%);
}
.header {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  h1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font: {
      family: $headline-font;
      size: 10rem;
    }
    color: yellow;
    text-align: center;
    text-shadow: $box-shadow;

  }
  .intro {
    background: white;
    opacity: .4;
    @include cushion(.7rem 2rem, 0 auto 1rem auto);
    animation: wobble .6s linear;
    animation-iteration-count: 2;
    p {
      animation: scaling 1.2s linear;
      font-size: 1.2rem;
      text-align: center;
    }
  }
}



#big-eye-tuna {
  @include size(12em);
  position: relative;
  transform: rotateY(180deg);
  top: 5.4%;
  animation: swim-LR 50s infinite linear, sea-through 2s linear;
}

#razorfish {
  @include size(6em);
  position: relative;
  top: 2.7%;
  animation: swim-LR 40s infinite linear, sea-through 2s linear;
}

#puffer {
  @include size(6em);
  position: relative;
  top: 8%;
  animation: swim-LR 23s infinite linear, sea-through 2s linear;
}

#great-white {
  @include size(40em);
  position: relative;
  top: 27%;
  animation: swim-RL 20s infinite linear, sea-through 2s linear;
}

#sea-turtle {
  @include size(20em);
  position: relative;
  top: 5.4%;
  animation: swim-RL 15s infinite linear, sea-through 2s linear;
}

#jellyfish {
  @include size(8em);
  position: relative;
  top: 27%;
  left: 50vw;
  animation: bobbing 1s alternate infinite linear, sea-through 2s linear;
}

#angler-fish {
  @include size(8em);
  position: relative;
  top: 79%;
  animation: swim-RL 18s infinite linear, sea-through 2s linear;
}

#octopus {
  @include size(40em);
  position: relative;
  top: 54%;
  left: 25vw;
  animation: bobbing 1s alternate infinite linear, sea-through 2s linear;
}
.depth {
  position: relative;
  left: 20px;
  top: 0px;
  width: 100px;
  z-index: 100;
}

.depth-line {
  @include size(5px);
  height: $sea-depth;
  background-image: linear-gradient(black, white);
  position: absolute;
  left: 20px;
}

.depth-indicator {
  position: fixed;
  height: 50vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-family: $basefont;
  font-weight: bold;
  color: white;
  z-index: 200;
  left: 20px;
  .depth-marker {
    width: 2em;
    height: 2em;
    @include border(5px, red);
    border-radius: 50%;
  }
  .depth-text {
    font-size: 1.5rem;
    margin-left: .5rem;
  }
}

.sea-creature {
  cursor: pointer;
}

.fish-info {
  display: none;
}


.info-card-container {
  @include min-max-height(100px, auto);
  @include cushion(0, 1rem);
  // position: fixed;
  display: block;
  width: 350px;
  z-index: 1000;
}

.info-card {
  @include min-max-height(100px, 500px);
  @include cushion(1rem, 1rem);
  display: none;
  background: $card-background;
  box-shadow: $box-shadow;
  width: 350px;
  font-family: $basefont;
  border-radius: $border-radius;
  cursor: pointer;
}


.bubbles-container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100%;
  height: 100%;
  p {
    opacity: 0;
    }
  }

#u1 {
  animation: waving 3s infinite linear;
}
#n1 {
  animation: waving 3s .5s infinite linear;
}
#d1 {
  animation: waving 3s 1s infinite linear;
}
#e1 {
  animation: waving 3s 1.5s infinite linear;
}
#r1 {
  animation: waving 3s 2s infinite linear;
}
#s {
  animation: waving 3s 2.5s infinite linear;
}
#e2 {
  animation: waving 3s 3s infinite linear;
}
#a2 {
  animation: waving 3s 3.5s infinite linear;
}
#a3 {
  animation: waving 3s 4s infinite linear;
}
#d2 {
  animation: waving 3s 4.5s infinite linear;
}
#v {
  animation: waving 3s 5s infinite linear;
}
#e3 {
  animation: waving 3s 5.5s infinite linear;
}
#n2 {
  animation: waving 3s 6s infinite linear;
}
#t {
  animation: waving 3s 6.5s infinite linear;
}
#u2 {
  animation: waving 3s 7s infinite linear;
}
#r2 {
  animation: waving 3s 7.5s infinite linear;
}
#e4 {
  animation: waving 3s 8s infinite linear;
}
