// VARIABLES
$basefont: Helvetica, sans-serif;
$textcolor: #074377;
$contrast-text: #fff;
$top-water: #77b8ef;
$bottom-water: #004582;


// MIXINS
@mixin cushion ($padding, $margin){
  padding: $padding;
  margin: $margin;
}

@mixin border($size, $color) {
  border: $size solid $color;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin min-max-width($min-width, $max-width) {
  min-width: $min-width;
  max-width: $max-width;
}

@mixin keyframes-animation($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin prefix-property($name, $value) {
  -webkit-#{$name}: $value;
          #{$name}: $value;
}

@mixin swim($start,$end) {
    @include keyframes-animation(swim-LR) {
      0% {
        @include prefix-property(transform, translateX($start) rotateY(0deg));
      }
      45% {
        @include prefix-property(transform, translateX($end) rotateY(0deg));
      }
      50% {
        @include prefix-property(transform, translateX($end) rotateY(180deg));
      }
      95% {
        @include prefix-property(transform, translateX($start) rotateY(180deg));
      }
      100% {
        @include prefix-property(transform, translateX($start) rotateY(0deg));
      }
    }

  }

  @mixin bob {
    @include keyframes-animation (bobbing) {
      from {
        transform: translateY(20px);
      }
      to {
        transform: translateY(-20px);
      }
    }
  }


// KEYFRAMES

    // @keyframes swim-LR {
    //  0% {
    //     transform: translateX(0vw) rotateY(0deg);
    //   }
    //   45% {
    //     transform: translateX(50vw) rotateY(0deg);
    //   }
    //   50% {
    //     transform: translateX(50vw) rotateY(180deg);
    //   }
    //   95% {
    //     transform: translateX(0vw) rotateY(180deg);
    //   }
    //   100% {
    //     transform: translateX(0vw) rotateY(0deg);
    //   }
    // }

    // @include keyframes-animation(swim-LR) {
    //   0% {
    //      @include prefix-property(transform, translateX(0vw) rotateY(0deg));
    //    }
    //    45% {
    //      @include prefix-property(transform, translateX(50vw) rotateY(0deg));
    //    }
    //    50% {
    //      @include prefix-property(transform, translateX(50vw) rotateY(180deg));
    //    }
    //    95% {
    //      @include prefix-property(transform, translateX(0vw) rotateY(180deg));
    //    }
    //    100% {
    //      @include prefix-property(transform, translateX(0vw) rotateY(0deg));
    //    }
    // };



// STYLES

* {
  @include cushion(0,0);
}

body {
  background-image: linear-gradient($top-water, $bottom-water);
  height: 100vw;
    @include swim(5vw, 70vw);
    @include bob;
}

#big-eye-tuna {
  position: fixed;
  top: 15%;
  @include size(5em, 3em);
  @include border(1px, white);
  animation: swim-LR 10s infinite linear;
}

#pearly-razorfish {
  position: fixed;
  top: 50%;
  @include size(10em, 5em);
  @include border(1px, pink);
  animation: swim-LR 5s infinite linear;
}

#puffer {
  position: fixed;
  top: 75%;
  @include size(4em, 4em);
  @include border(1px, yellow);
  animation: swim-LR 19s infinite linear;
}

#great-white {
  position: fixed;
  top: 80%;
  @include size(25em, 10em);
  @include border(3px, lightblue);
  animation: swim-LR 7s infinite linear;
}

#shelly {
  position: fixed;
  top: 20vw;
  left: 45vw;
  animation: bobbing 1s alternate infinite linear;
  @include size(10em, 10em);
  @include border(2px, white);
}
