// VARIABLES
$basefont: Helvetica, sans-serif;
$textcolor: #074377;
$contrast-text: #fff;
$top-water: #77b8ef;
$bottom-water: #004582;
$box-shadow: 4px 4px 8px rgba(1, 30, 76, .5);
$card-background: #fff;


// MIXINS
@mixin cushion ($padding, $margin){
  padding: $padding;
  margin: $margin;
}

@mixin border($size, $color) {
  border: $size solid $color;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin min-max-width($min-width, $max-width) {
  min-width: $min-width;
  max-width: $max-width;
}

@mixin min-max-height($min-height, $max-height) {
  min-height: $min-height;
  max-height: $max-height;
}


@mixin keyframes-animation($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin prefix-property($name, $value) {
  -webkit-#{$name}: $value;
          #{$name}: $value;
}

@mixin swim($start,$end) {
    @include keyframes-animation(swim-LR) {
      0% {
        @include prefix-property(transform, translateX($start) rotateY(0deg));
      }
      45% {
        @include prefix-property(transform, translateX($end) rotateY(0deg));
      }
      50% {
        @include prefix-property(transform, translateX($end) rotateY(180deg));
      }
      99% {
        @include prefix-property(transform, translateX($start) rotateY(180deg));
      }
      100% {
        @include prefix-property(transform, translateX($start) rotateY(0deg));
      }
    }

  }

  @mixin bob {
    @include keyframes-animation (bobbing) {
      from {
        transform: translateY(20px);
      }
      to {
        transform: translateY(-20px);
      }
    }
  }


// KEYFRAMES

    // @keyframes swim-LR {
    //  0% {
    //     transform: translateX(0vw) rotateY(0deg);
    //   }
    //   45% {
    //     transform: translateX(50vw) rotateY(0deg);
    //   }
    //   50% {
    //     transform: translateX(50vw) rotateY(180deg);
    //   }
    //   95% {
    //     transform: translateX(0vw) rotateY(180deg);
    //   }
    //   100% {
    //     transform: translateX(0vw) rotateY(0deg);
    //   }
    // }

    // @include keyframes-animation(swim-LR) {
    //   0% {
    //      @include prefix-property(transform, translateX(0vw) rotateY(0deg));
    //    }
    //    45% {
    //      @include prefix-property(transform, translateX(50vw) rotateY(0deg));
    //    }
    //    50% {
    //      @include prefix-property(transform, translateX(50vw) rotateY(180deg));
    //    }
    //    95% {
    //      @include prefix-property(transform, translateX(0vw) rotateY(180deg));
    //    }
    //    100% {
    //      @include prefix-property(transform, translateX(0vw) rotateY(0deg));
    //    }
    // };

@keyframes fade{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



// STYLES

* {
  @include cushion(0,0);
}

body {
  background-image: linear-gradient($top-water, $bottom-water);
  background-repeat: no-repeat;
  height: 500vw;
    @include swim(5vw, 70vw);
    @include bob;
}

h1, h2 {
  margin-bottom: .5rem;
}

p {
  line-height: 140%;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

#big-eye-tuna {
  position: relative;
  transform: rotateY(180deg);
  top: 15%;
  // @include size(5em, 3em);
  // @include border(1px, white);
  // background: lightblue;
  animation: swim-LR 50s infinite linear;
}

#pearly-razorfish {
  position: relative;
  top: 50%;
  // @include size(10em, 5em);
  // @include border(1px, pink);
  animation: swim-LR 40s infinite linear;
}

#puffer {
  position: relative;
  top: 75%;
  // @include size(4em, 4em);
  // @include border(1px, yellow);
  animation: swim-LR 30s infinite linear;
}

#great-white {
  position: relative;
  top: 80%;
  // @include size(25em, 10em);
  // @include border(3px, lightblue);
  animation: swim-LR 7s infinite linear;
}

#shelly {
  position: relative;
  top: 20vw;
  left: 45vw;
  animation: bobbing 1s alternate infinite linear;
  @include size(10em, 10em);
  @include border(2px, white);
}

#jellyfish {
  position: relative;
  top: 40vw;
  left: 50vw;
  animation: bobbing 1s alternate infinite linear;
  // @include size(10em, 10em);
  // @include border(2px, white);
}

#octopus {
  position: relative;
  top: 60vw;
  left: 25vw;
  animation: bobbing 1s alternate infinite linear;
  // @include size(10em, 10em);
  // @include border(2px, white);
}

.info-card {
  display: none;
  opacity: 0;
  background: $card-background;
  box-shadow: $box-shadow;
  @include min-max-height(100px, 500px);
  width: 350px;
  @include cushion(1rem, 1rem);
  font-family: $basefont;
  z-index: 1000;
}

.fade-in {
  animation: fade 1s forwards;
}

.fade-out {
  animation: fade 1s reverse forwards;
  display: none;
}
