$basefont: Helvetica, sans-serif;
$textcolor: #074377;
$contrast-text: #fff;
$top-water: #b5e8ff; //#77b8ef;
$bottom-water: #001c2b; //#004582;
$box-shadow: 4px 4px 8px rgba(1, 30, 76, .5);
$card-background: #fff;
$border-radius: 6px 6px 6px 6px;
$sea-depth: 365vh;
$headline-font: 'Princess Sofia', cursive;
